# SECRETS
PUBPUB_API_KEY=yourKey
AIRTABLE_API_KEY=yourKey

# VARS
COMMUNITY_SLUG=yourSlug
AIRTABLE_BASE_ID=yourId

# PUB TYPES
NARRATIVE_TYPE_ID=yourId
TYPE_TYPE_ID=yourId
PERSON_TYPE_ID=yourId
CONTRIBUTOR_TYPE_ID=yourId
PUB_TYPE_ID=yourId
INSTITUTIONS_TYPE_ID=yourId
ROLES_TYPE_ID=yourId

# STAGES
AIRTABLE_STAGE_ID=yourId
NONPUBS_STAGE_ID=yourId